{% extends "skins/main_template.pt" %}
{% block title %}Gerencias Sites{% endblock %}
{% block content %}
	<h1>Listagem dos sites</h1>
	
	<a href="/sites/manage-sites" title="Adicionar" alt="Adicionar">Adicionar</a>
	<table style="width: 100%;">
		<tr>
			<th>Nome</th>
			<th>Link</th>
			<th>Texto</th>
			<th>Ativo?</th>
			<th colspan="2">Gerenciar</th>
		</tr>
		{% for item in data %}
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.link }}</td>
			<td>{{ item.textCheck }}</td>
			<td>{{ item.flagAtivo }}</td>
			<td ><a href="/sites/manage-sites?key={{ item.key() }}"
				   title="Editar" alt="Editar">Editar</a>
			</td>
			<td ><a href="/sites/manage-sites?key={{ item.key() }}&remove=1"
				   title="Excluir" alt="Excluir">Excluir</a>
			</td>
		</tr>	
		{% endfor %}
	</table>
{% endblock %}
