{% for item in resultSite%}
	<script type="text/javascript">
		$(function () {
		    var chart;
		    $(document).ready(function() {
		        chart = new Highcharts.Chart({
		            chart: {
		                renderTo: '{{ item.get("id") }}_container',
		                type: '{{ item.get("type") }}',
		                marginRight: 100,
		                marginBottom: 100
		            },
					title: {
	                	text: '{{ item.get("name") }}',
	                	x: -20 //center
	            	},
	            	xAxis: {title: {text: '{{ item.get("nameX") }}',margin: 10},
		                	categories: [{% for item in item.get('data') %}    	
		                					"{{ item.get('axisX') }}",
		                				 {% endfor %}
		                				]},
					yAxis: {title: {text: '{{ item.get("nameY") }}'}},
	            	tooltip: {formatter: function() {return this.x +' <br /> '+ this.y;}},
	                legend: {layout: 'vertical',
		                	 align: 'right',
		                	 verticalAlign: 'top',
		                	 x: -10,
		                	 y: 100,
		                	 borderWidth: 1},
	            	series: [{name:'Dados',data: [{% for item in item.get('data') %}
	                									{{ item.get('axisY') }},
		            							  {% endfor %}
	                							 ]
	            			}] 	                	
		        });
		 	});        	
		});
	</script>
	<div id="{{ item.get('id') }}_container" style="width: 900px; height: 400px; margin: 0 auto"></div>
	<br />
{% endfor %}	