		
		
	<p>conteudo dos graficois</p>
	
	<div id="chartcontainer"></div>
	<script type="text/javascript">
	var myData = new Array{{ resultSite[0] }};
	var myChart = new JSChart('chartcontainer', 'line');
	myChart.setDataArray(myData);
	myChart.draw();
	</script>
	
	
	<p>conteudo dos graficois</p>
	
	<div id="chartcontainer2"></div>
	<script type="text/javascript">
	var myData = new Array{{ resultSite[1] }};
	var myChart = new JSChart('chartcontainer2', 'line');
	myChart.setDataArray(myData);
	myChart.draw();
	</script>
	<p>conteudo dos graficois</p>
	<p>conteudo dos graficois</p>