{% extends "skins/main_template.pt" %}
{% block title %}Historico / Grafico{% endblock %}
{% block content %}
	<h1>Historico / Grafico</h1>
	
	<p>Selecione o Site e o intervalo de monitoramento</p>
	<label for="site">Site</label>
	<select id="site" name="site">
		<option value="">-- Selecione --</option>
		{% for item in sites %}
			<option value="{{ item.key() }}">{{ item.name }}</option>
		{% endfor %}
	</select>
	<script type="text/javascript">
		$(function() {
			$.datepicker.setDefaults($.datepicker.regional["pt-BR"]);
			$("#start-date").datepicker({
				showAnim:'blind',
				dateFormat: "dd/mm/yy",
				defaultDate: "-1M",
				numberOfMonths: 1,
				minDate: "-5Y",
				onSelect: function( selectedDate ) {
					$( "#end-date" ).datepicker( "option", "minDate", selectedDate );
				}
			});
			$("#end-date").datepicker({
				showAnim:'blind',
				dateFormat: "dd/mm/yy",
				defaultDate: "+0D",
				maxDate: "+0D",
				numberOfMonths: 1,
				onSelect: function( selectedDate ) {
					$( "#start-date" ).datepicker( "option", "maxDate", selectedDate );
				}
			});
			
		});
	</script>
	<label for="intervalo">Intervalo</label>
	<input name="start-date" id="start-date" value="{{ start_date }}" /> à 
	<input name="end-date" id="end-date" value="{{ end_date }}" />
	<br />
	<div id="content-grafico"></div>
	
	
{% endblock %}
