{% extends "skins/main_template.pt" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>{{ message|e }}</h1>
		<div class="post">
			<h2 class="title">O que é?</h2>
			<p>O WebMonitor é uma ferramenta que monitora e analisa Sites altomaticamente, a cada 10 minutos, 24 horas por dia, 7 dias por semana.<br />
				Seu website é o seu negócio desde que seus clientes consigam te encontrar.
				Mesmo que seu site tenha uma estatística de 99% do tempo no ar, por mais de 7 horas por mês seus clientes não conseguem acessar seu site. 
			 </p>
		</div>
		<div class="post">
			<h2 class="title">Descrição</h2>
			<p> <img src="/static/images/pics01.jpg" alt="" width="250" height="250" class="alignleft" />
				Monitore  seu site 24 horas, e receba relatórios de uptime por sms ou email.
				Um dos fatores determinantes na hora de escolher um serviço de hospedagem, é o tempo que o servidor permanece no ar.
			</p>
			<p>Alguns serviços garantem um uptime de 99%, mais na hora não é nada disto.
				Monitorando seu site ou blog, você vai ser o primeiro a ser informado do downtime, e poderá recolocar seu site no ar o mais rápido possível.
			</p>	
		</div>
		<div class="post">
			<div class="clear"></div>
			<ul class="list">
				<li class="first"><a href="http://www.google.com">Site de Ajuda Universal</a></li>
				{% for item in sites %}
					<li><a href="{{ item.link }}">Site Monitorado: {{ item.name }}</a></li>
				{% endfor %}
				<li class="last"><a href="/sites">Gerenciar Sites Monitorados</a></li>
			</ul>
		</div>
{% endblock %}